*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.Line11,.Line12,.Line13,.Line14{
    display: inline-block;
}
.Line21,.Line22,.Line23,.Line24{
    display: inline-block;
}
.footer,.blogposts,.content,.populartags{
    display: inline-block;
}
.footer{
    padding-left: 200px;
}
.blogposts{
    padding-left: 200px;
}

.pic{
    border-radius: 5px;
}
.header{
   position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:30px;
    z-index: 3;
    background-color: white;
}
.Line11,.Line12,.Line13,.Line14,.Line21,.Line22,.Line23,.Line24,.content,.footer,.blogposts{
    position: relative;
    top:50px;
}
.blogposts,.content{
    top:55px;
}
.footer{
    top: 40px;
}
.content{
    right: 50px;
}
.populartags{
    top: 45px;
    padding-left: 150px;
    position: relative;
}
